<h1>Why This App?</h1>
<p>
Yoga is my passion. I have been practicing Yoga for about 6 years, and since day one, Yoga has been my release. It has strengthened my  muscles, increased my flexibility, and brought me peace of mind. I am more relaxed and handle stress differently because of my Yoga practice.
</p> 
﻿
<p>
However, there was about 2 years when I couldn't find time within the day to consistently go to a studio to practice. I was working full time and had just started going back to school for my master's degree. So during this time, where I was more stressed out then ever, I didn't have time to go somewhere to help de-stress. 
</p>
﻿
<p>
I began looking online for yoga websites and apps so I can do some yoga at home. Now, I have experience doing yoga, and know many of the positions, but I still found many of these websites and apps difficult maneuver and follow. Many of the sequences didn't make sense. 
</p>
﻿
<p>
So! Here it is! I have, what I hope is a VERY user friendly site with useful sequences that range from beginner to advanced, AND also has "HOW TO" page which teaches the proper form for most positions.  
</p>
