<h1>Gamma Ce Herstory</h1>
<p>
	
In the beginning there was nothing. No unity. No voice. No innovation. No progression. November 3, 1989 marked a Genesis, the dawn of a new age. Gamma Ce Upsilon Sorority, Inc. was born, attributing to the vision of four great women at the State University of New York at Stony Brook: Erenisse Tavarez, a member of the Malik Melodies of Malik Fraternity, Inc., Gladiz E. Arias, treasurer of L.A.S.O., Michelle L. Herrera, a member of Latin Gems of Phi Iota Alpha Fraternity, Inc., and Blanche M. Centeno, a member of Sigma Sweethearts of Phi Beta Sigma Fraternity, Inc.

In the Fall of 1989 one major event was the ignition of Gamma Ce Upsilon’s foundation. The disaster struck in the form of Hurricane Hugo. It devastated the Caribbean, leaving chaos and destruction in its wake. When the hurricane hit the island of Jamaica, students and organizations rallied to send aide and support. Tragically, the hurricane’s deadly force hit Puerto Rico shortly after. In contrast to efforts made towards Jamaica, there was little to no effort to aide Puerto Rico in the aftermath of Hurricane Hugo. It became quite apparent that an organization with its interest lying in the support and advancement of Latinos was needed.
﻿
And so, Gamma Ce Upsilon Sorority, Inc. was founded on November 3rd, 1989 and Incorporated on April 13th 1990. It has the distinct honor of being not only the first Latina sorority on Stony Brook University campus, but also the first Non-Greek Latina sorority in the United States of America. Her founders have laid a strong foundation; her roots in Sisterhood, Community Service, Culture, Femininity, and Organization Skills.
​
Gamma Ce Upsilon Sorority, Inc. strives, with the strength of our sisterhood and our convictions, in one day achieving the recognition that our people, our history and our culture, deserve. We will pass down the torch which has been handed to us and it will blaze brilliantly for all to see.
</p>
