
<div class="hero-unit">
  </p>
<h1>Gamma Ce Upsilon Sorority Inc.</h1>
	<p>
		Through innovatove thoughts, come progressive ideas.
	</p>
	<p>
	<%= link_to "Find out more!", about_path %>
	</p>
</div>
